{% extends 'index.html' %}

{% block title %}{{ article.title|striptags }} - {{ super() }}{% endblock title %}

{% block head_css %}
    <!--<link rel="stylesheet" href="{{ SITEURL }}/theme/css/pygments.css">-->
{% endblock %}

{% block content %}
<main class="content" role="main" id="top-post">
        <div class="back">
            <a href="{{ SITEURL }}">&larr;  back to the home page</a>
        </div>

    <article itemscope itemtype="http://schema.org/Article" class="post purity_post">

        <header class="post-header">
            <h2 itemprop="name" class="post-title big">{{ article.title }}</h2>
            <p class="post-meta">Written by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Marcello Seri</span></span> the <time itemprop="datePublished" datetime="{{ article.date|strftime('%d %b %Y') }}">{{ article.date|strftime('%d %b %Y') }}</time> - <span class="post-tagline"> under {% for tag in article.tags %}
                                <a class="post-category" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% else %}. {% endif %}
                            {% endfor %}</span></p>
        </header>

        <section class="post-content">

        <div class="post-share-box">
            <section class="share">
                <h3>Share this post</h3>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SITEURL }}/{{ article.url }}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-twitter" href="http://twitter.com/share?text={{ article.title }}&url={{ SITEURL }}/{{ article.url }}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{ SITEURL }}/{{ article.url }}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>
        </div>

        <div itemprop="articleBody">
            {{ article.content }}
        </div>
        
        </section>

        {% include 'comments.html' %}

    </article>
    
    <script type="text/javascript">
        document.getElementById( 'top-post' ).scrollIntoView();
    </script>

</main>
{% endblock  %}