<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="description" content="{% block meta_description %}{{ SITENAME }}, {{ TAGLINE }}{% endblock meta_description %}">

    {% if FEED_ALL_ATOM %}
        <link rel="alternate"  href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Full Atom Feed"/>
    {% endif %}
    {% if FEED_ALL_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" title="{{ SITENAME }} Full RSS Feed"/>
    {% endif %}
    {% if FEED_ATOM %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}" type="application/atom+xml" title="{{ SITENAME }} Atom Feed"/>
    {% endif %}
    {% if FEED_RSS %}
        <link rel="alternate" href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/rss+xml" title="{{ SITENAME }} RSS Feed"/>
    {% endif %}

    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
    {% endblock head %}

    {% if FAVICON_URL %}
        <link href="{{ FAVICON_URL }}" rel="icon">
    {% endif %}


    {% if article %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ article.title }}" />
    <meta property="og:description" content="{{ article.summary|striptags }}" />
    {% else %}
    <meta property="og:title" content="{{ SITENAME }}">
    <meta property="og:description" content="{{ SITEDESC }}" />
    {% endif %}

    {% if SITE_LOGO_URL %}
        <link rel="shortcut icon" href="{{ SITEURL }}/{{ SITE_LOGO_URL }}" />
    {% endif %}

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css">
    {% block head_css %}{% endblock %}

    {% block head_js %}{% endblock %}
</head>
<body itemscope itemtype="http://schema.org/WebPage">
    <div class="pure-g-r" id="layout">
        <div class="sidebar pure-u">
            <header class="header">
                <hgroup>
                    {% if SITE_LOGO_URL %}
                        <a id="blog-logo" href="{{ SITEURL }}"><img src="{{ SITEURL }}/{{ SITE_LOGO_URL }}" alt="Blog Logo" /></a>
                    {% endif %}
                    <h1 itemprop="name" class="blog-title"><a href="{{ SITEURL }}">{{ SITENAME }}</a></h1>
                    {% if SITEDESC %}
                        <h2 itemprop="description" class="blog-description">{{ SITEDESC }}</h2>
                    {% endif %}
                </hgroup>
                {% include 'social.html' %}
            </header>
            <footer class="footer">
                <section class="copyright">&copy; 2013--2015 <a itemscope="copyrightHolder" href="{{ SITEURL }}">{{ SITENAME }}</a></section>
                <section class="poweredby">Proudly published with Pelican on GitHub Pages.</section> 
                <section class="theme"><a href="https://github.com/mseri/purity" target="_blank">Purity</a> is built with <a href="http://purecss.io" target="_blank">PureCSS</a>.</section>
            </footer>
            
        </div>
        <div class="pure-u-1 container">
            
        {% block content %}{% endblock %}
            
        </div>
    </div>

    {% include 'mathjax.html' %}
    {% include 'analytics.html' %}
</body>
</html>
