{% if SOCIAL %}
<nav class="nav">
  <ul class="social-list">
    <li class="social-item"><a class="subscribe icon-twitter" href="http://www.twitter.com/marcelloseri" target="_blank"></a></li>&nbsp;
    <li class="social-item"><a class="subscribe icon-facebook" href="http://www.facebook.com/marcello.seri" target="_blank"></a></li>&nbsp; 
    <li class="social-item"><a class="subscribe icon-google-plus" href="http://plus.google.com/+MarcelloSeri" target="_blank" rel="publisher"></a></li>&nbsp;
    <li class="social-item"><a class="subscribe icon-github" href="http://www.github.com/mseri" target="_blank"></a></li>&nbsp;
    <li class="social-item">&nbsp;</li>
    <li class="social-item"><a class="subscribe icon-feed" href="{{ SITEURL }}/{{ FEED_RSS }}" target="_blank"></a></li>
</ul>
</nav>
{% endif %}