{% if SOCIAL %}
<nav class="nav">
  <ul class="social-list">
    {% if TWITTER %}<li class="social-item"><a class="subscribe icon-twitter" href="http://www.twitter.com/{{ TWITTER }}" target="_blank"></a></li>&nbsp;{% endif %}
    {% if FACEBOOK %}<li class="social-item"><a class="subscribe icon-facebook" href="http://www.facebook.com/{{ FACEBOOK }}" target="_blank"></a></li>&nbsp;{% endif %}
    {% if GPLUS %}<li class="social-item"><a class="subscribe icon-google-plus" href="http://plus.google.com/{{ GPLUS }}" target="_blank" rel="publisher"></a></li>&nbsp;{% endif %}
    {% if GHUB %}<li class="social-item"><a class="subscribe icon-github" href="http://www.github.com/{{ GHUB }}" target="_blank"></a></li>&nbsp;{% endif %}
    <li class="social-item">&nbsp;</li>
    <li class="social-item"><a class="subscribe icon-feed" href="{{ SITEURL }}/{{ FEED_RSS }}" target="_blank"></a></li>
</ul>
</nav>
{% endif %}